<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216085375398-ujh8cbi2oa5g0m9chprd6p1nonr6hjrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216085375398-ujh8cbi2oa5g0m9chprd6p1nonr6hjrq</string>
	<key>API_KEY</key>
	<string>AIzaSyBH098UIaWSpYBorPSGxuK9xkWSO1_2lKg</string>
	<key>GCM_SENDER_ID</key>
	<string>216085375398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>torinunna.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7b420</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7b420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216085375398:ios:bde026ebe4676ddaa60767</string>
</dict>
</plist>